@import "reset";

* {
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  background-color: rgb(248, 249, 250);
  font-family: "Lato", sans-serif;
}

h1 {
  color: white;
  font-size: 2.5em;
}

p {
  font-family: "Slabo 27px", serif;
  font-size: 1.1em;
}

.navbar {
  display: flex;

  align-items: center;
  background-color: rgb(248, 249, 250);
  height: 60px;

  img {
    padding-left: 20px;
    height: 40px;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("./img/conakry_harbor.jpg");
  background-attachment: fixed;
}

.keys {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 480px;

  & > div {
    display: flex;
    flex-flow: column;
    align-items: center;

    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }

  img {
    fill: #4a4c4e;
    align-self: center;
    padding: 20px;
    height: 100px;
    width: 100px;
  }

  h3 {
    color: #4a4c4e;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
  }
  p {
    color: #4a4c4e;
    padding: 10px;
    width: 300px;
  }
}

.infos {
  background-color: white;
}

.infos [class="arrival_image bloc-info"] {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  min-height: 430px;
  background-image: url("img/dock.jpg");
}

.infos [class="quality_image bloc-info"] {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  min-height: 430px;
  max-height: 430px;
  background-image: url("img/quality.jpg");
}

.infos [class="services_image bloc-info"] {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 430px;
  max-height: 430px;
  background-image: url("img/services.jpg");
}

.infos > div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: row;
  height: 430px;
  width: 100%;
  color: #4a4c4e;

  & > img {
    object-fit: cover;
  }
  & h2 {
    font-size: 2em;
    color: black;
    align-self: start;
    padding-left: 20px;
  }
  & p {
    font-size: 1.2em;
    padding: 20px;
  }
}

.bloc-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 430px;
  width: 50%;
}

footer {
  height: 60px;
  background-color: #4a4c4e;
}

@media (max-width: 991.98px) {
  .hero {
    h1 {
      padding: 20px;
    }
  }
  .keys {
    img {
      height: 70px;
      width: 70px;
      padding-bottom: 7px;
    }

    h3 {
      font-size: 1.5em;
    }

    & > div {
      padding: 20px;
      margin-bottom: 30px;
      width: 100%;
    }
    & p {
      font-size: 1em;
      text-align: justify;
      width: 100%;
      padding: 20px;
    }
  }

  .infos > div {
    h2 {
      font-size: 1.7em;
    }
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1em;
  }
  .navbar {
    img {
      margin: 0 auto;
    }
  }
  .keys {
    justify-content: flex-start;
    flex-flow: column;
    height: auto;
    margin: 30px;

    & p {
      font-size: 1em;
      width: 75%;
    }
  }

  .hero {
    min-height: 320px;
  }
}

@media (max-width: 575.98px) {
  p {
    font-size: 1em;
  }

  h1 {
    font-size: 1.7em;
  }

  .hero {
    min-height: 270px;
    background-position: center;
    background-size: cover;
  }

  .keys {
    margin: 20px;
    min-width: 250px;
    img {
      height: 70px;
      width: 70px;
      padding-bottom: 7px;
    }
    & p {
      font-size: 1em;
    }
    h3 {
      font-size: 1.2em;
    }

    & > div {
      margin-bottom: 0px;
    }
  }

  .infos > div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: column;
    height: 500px;
    width: 100%;
    color: #4a4c4e;
  }

  .bloc-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 250px;
    width: 100%;
  }

  .infos [class="arrival"] {
    flex-flow: column-reverse;
  }

  .infos [class="services"] {
    flex-flow: column-reverse;
  }
}
